body {
    background-color: rgb(243, 160, 160);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 2fr);
}

#one {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#two {
    background-color: purple;
    grid-column-start: 3;
    grid-column-end: 4;
}

#three {
    background-color: yellow;
}

#four {
    background-color: green;
}
